* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e8e8e8;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background: #cfd2e6;
    color: rgb(185, 204, 233);
    padding: 10px 0;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
}


.rayitas {
    display: none;
    font-size: 24px;
    
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li:hover {
    background-color: #a0aaed;
    height: 100%;
}

#cajitacheck {
    display: none;
}

@media (max-width: 700px) {
    .rayitas {
        display: block;
        
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background: #8787e8;
        padding: 20px 0;
    }

    .menu li {
        margin: 10px 0;
        text-align: center;
    }
    
    .menu a {
        font-size: 24px;
    }

    .menu a:hover {
        background-color: #afafe6;
    }

    #cajitacheck:checked + .rayitas + .menu {
        display: flex;
    }

    .contedorhome .imageneshome{
        width: 200px;
        height: auto;
        display: block;
        border-radius: 10px;
    }

    .descripciontalleres {
        width: 90%;
    }

    .descripciontalleres {
        flex-direction: column;
        align-items: flex-start;
    }

    .imgtalleres {
        margin-right: 0;
    }

    .h2contacto {
        font-size: 18px;
        text-align: center;
    }

    
    .slide .carousel-inner img {
        width: 80%;
        height: auto;
    }
    
    .slide {

        padding: 5% 5% 5% 5%;
    }

    .profes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .imgprofes {
        width: 120px; 
        height: 180px;
    }

}


h1 {
    text-align: center;
}

.slide {
    width: 600px;
    margin: 0 auto;
}

.slide .carousel-inner img {
    width: 100%;
    height: auto;
}

.menu li a {
    text-decoration: none; 
    color: black;
    padding: 20px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.logocrescendo {
    height: 80px;
}

.videoyoutube {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
}

h2 , h3 {
    padding-left: 30px;
    padding-top: 0px;
}

.descripciontalleres {
    display: flex;
    align-items: center;
    margin: 50px auto;
    padding-bottom: 80px;
    width: 95%;
}

.imgtalleres {
    max-width: 320px;
    float: left;
    margin-right: 15px;
    border-radius: 10px;
}

.contedorhome {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: 20px;
}

.imageneshome {
    width: 300px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;

}

.imageneshome:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.imageneshome img {
    width: 100%;
    height: 180px;
    display: block;
    border-radius: 10px;
    
}

.textosobreimg {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 3px;
}


footer {
    background-color: #cfd2e6;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    max-width: 100px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

footer .classrrss {
    margin-bottom: 20px;
}

footer ul li {
    margin-bottom: 10px; 
}

.divrrss {
    margin-top: 20px;
    text-align: center;
     
}

.divrrss h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.linkrrss {
    text-decoration: none;
    margin: 0 10px;
    color: inherit;
}

.iconrrss {
    font-size: 30px;
    color: blue;
}

.mapa {
padding: 15px 15px 15px 15px;
}
 
.aboutus {
    padding: 60px;
}

.aboutus .aboutgap {
    margin-top: 10px;
}

.aboutus .textoaboutus {
    text-align: center;
}

.contenedorwelcom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoindex {
    width: 80%;
    background-color: #e7e8f0;

}

.profes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
    white-space: nowrap;
}

.imgprofes {
    display: inline-block;
    overflow: hidden; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 250px; 
    height: 350px; 
    
}

.imgprofes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.imgprofes:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.eventos-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.evento {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.evento .fecha {
    width: 20%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.evento .descripcion {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.evento .descripcion p {
    margin: 0 0 10px;
}

.evento .detalles {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.evento .detalles li {
    margin-bottom: 5px;
}

.evento .imgevento {
    width: 30%;
    overflow: hidden;
    max-width: 200px;
    border-radius: 10px;
}

.evento .imgevento img {
    width: 100%;
    height: auto;
}

